/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: #333333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF CSS RESET */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
* {
	font-family: 'Roboto', sans-serif;
}
body {
	background: #ADADAD;
}
.card {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    -webkit-box-shadow: 0 1px 2px #aaa;
    background: white;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto 2rem;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.card:after {
    position: absolute;
    font-size: .9rem;
    top: 1.5rem;
    right: 1rem;
    border: thin solid gray;
    color: gray;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    pointer-events: none;
}
.auth, #error, .add, .blog, .comment, .profileSec, .results {
    float: none;
    width: 40%;
    min-width: 30rem;
}
.head {
    float: none;
    width: 50%;
}
#hello {
    float: right;
    width: 15%;
}
#main {
    float: left;
    width: 10%;
}
#pages {
    float: none;
    width: 20%;
}
.animation {
    animation: fly-in-from-left .5s .5s ease both;
    -moz-animation: fly-in-from-left .5s .5s ease both;
    -webkit-animation: fly-in-from-left .5s .5s ease both;
    -o-animation: fly-in-from-left .5s .5s ease both;
    transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    -o-transform-origin: left top;
}
.animation:nth-child(even){
    animation-name: fly-in-from-right;
    -moz-animation-name: fly-in-from-right;
    -webkit-animation-name: fly-in-from-right;
    -o-animation-name: fly-in-from-right;
    transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -webkit-transform-origin: right top;
    -o-transform-origin: right top;
}
input, textarea, .card {
    position: relative;
    z-index: 2;
}
input, textarea {
    display: block;
    width: 25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 3px #aaa;
    overflow: auto;
    outline: none;
}
input[type=text], input[type=password], textarea {
	color: #4285F4;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #4285F4;
}
input[type=submit] {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
input[type=submit]:hover {
	box-shadow: 0 1px 3px #aaa;
	color: #4285F4;
}
input[type=submit]:active {
	top: 2px;
}
#addBlogLink, #searchBlogLink {
    width: 15rem;
    margin-top: .5rem;
}
#authLink {
    width: 6rem;
    margin-top: .5rem;
    font-size: 1rem;
}
input[type=file] {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    display: none;
    opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    filter: alpha(opacity=0);
}
.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.avatar {
    margin-right: 1rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.avatar:hover {
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
	border-radius: 15%;
}
.avatar_big {
    width: 230px;
    height: 230px;
}
.avatar_small {
    width: 100px;
    height: 100px;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #4285f4;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
}
a:hover {
    border: 0 solid #4285f4;
    border-bottom-width: 2px;
}
a.profile, a.profile:link, a.profile:visited, a.profile:hover, a.profile:active, strong {
    text-decoration: none;
    background-color: transparent;
    font-weight: 300;
    color: #539D00;      
}
a.profile:hover {
    border: 0 solid #539D00;
    border-bottom-width: 2px;
}
a.no_underline, a.no_underline:link, a.no_underline:visited, a.no_underline:hover, a.no_underline:active {
    border-style: none;
}
a.active_page {
    color: red;
    pointer-events: none;
    cursor: default;
}
.large_space {
    letter-spacing: .4rem;
}
div {
    word-wrap: break-word;
    text-align: left;
}
.author, .date {
    width: 50%;
    margin-top: -.5rem;
}
.date {
    text-align: right;
    float: right;
    color: #EE3333;
}
.author, .number {
    text-align: left;
    float: left;
}
.content {
    margin-top: 2rem;
    line-height: 1.5;
}
.share {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}
.form {
    display: inline-block;
    text-align: center;
    margin: auto 0;
}
p {
    color: #FF0000;
    margin: -1.2rem 3rem 1rem;
}
#fileErr {
    margin: -.5rem 3rem 1rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0 solid #efefef; 
    border-bottom-width: 1px;
}
h2 {
    font-size: .8rem;
    margin-top: -1.5rem;
    margin-bottom: 1.2rem;
    color: gray;
    font-weight: 400;
}
h3 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0 solid #efefef; 
    border-bottom-width: 1px;
}
@-moz-keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@-webkit-keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@-o-keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        -moz-transform: translateY(15rem) rotate(15deg);
        -ms-transform: translateY(15rem) rotate(15deg);
        -webkit-transform: translateY(15rem) rotate(15deg);
        -o-transform: translateY(15rem) rotate(15deg);
        opacity: 0;
    }
}
@-moz-keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@-webkit-keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@-o-keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        -moz-transform: translateY(15rem) rotate(-15deg);
        -ms-transform: translateY(15rem) rotate(-15deg);
        -webkit-transform: translateY(15rem) rotate(-15deg);
        -o-transform: translateY(15rem) rotate(-15deg);
        opacity: 0;
    }
}
@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}
@-moz-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}
@-o-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}
@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}